*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
  font-size: 12px;
}

body, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

/* .background {
  display: flex;
  min-height: 100vh;
} */

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  margin: 50px;
  /* margin-top: 50px; */
}


.screen {
  height: 500px;
  width: 700px;
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen-body-item {
  flex: 1;
  padding: 10px;
  width: 100%;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;    
  font-size: 26px;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}


.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}



@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
    }
  }