
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color:white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.navbar-nav li a:hover {
  color:  yellow; /* Change color on hover */
}




#logout{
color: white;
/* background-color: aliceblue; */
}





/* App.css */
.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}
